.login-page {
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .card1{
        height: 100%;
    }
    .card{
      padding: 130px;
      box-shadow: -7px 0px 9px -2px gray;
    /* border: 5px solid; */
    border-radius: 16px 0px 0px 15px;
    }
    .form-group{
        margin-top: 21px;
    }
    @media(max-width:600px){
      .card{
        padding: 50px;
      }
    }
